<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container">

        <form action="/elections/<%=id%>/questions/new" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h3>Create New Question</h3>

            <div class="inputBox">
                <input type="text" id="questionName" name="name" placeholder="Question Name"><i></i>
            </div>
        
            
            <div class="inputBox">
                <textarea name="description" id="description" cols="38" rows="3" placeholder="Description"></textarea>
            </div>
            <input type="submit" value="Create">

        </form>
    </div>
</body>
</html>