<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <h3>Your vote has been registered</h3>
    <h5>Results can be viewed from <a href="/elections/<%=id%>/results">here</a> when alaivable</h5>
</body>
</html>